* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #EDECEA;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Contact Section */
.contact-section {
    padding: 100px 0;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

/* Contact Form */
.contact-form {
    background-color: #00403D;
    padding: 40px;
    border-radius: 15px;
    width: 45%;
    color: white;
}

.contact-form h2 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #00E8DD;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    background-color: white;
    color: #00403D;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #b3cfcd;
}

/* Contact Info */
.contact-info {
    width: 45%;
}

.info-box-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info-box {
    width: 48%;
}

.info-box i {
    font-size: 30px;
    color: #00403D;
    margin-bottom: 10px;
}

.info-box h3 {
    font-size: 24px;
    color: #00403D;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
    color: #333;
}

/* Media Queries */
@media (max-width: 1024px) {
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }
}

/* Navigation Bar */
header {
    background-color: transparent;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    top: -100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 60px;
}

.line hr {
    width: 125px;
    border-color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-extras {
    display: flex;
    align-items: center;
}

.phone-number {
    margin-right: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.account {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.cart-link svg {
    fill: transparent;
    width: 40px;
    height: 40px;
    transition: fill 0.3s ease;
}

.cart-link:hover svg {
    fill: white;
}

/* Hero Section */
.hero {
    background-color: #01524e;
    text-align: center;
    padding: 150px 20px 100px;
}

.hero h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: white;
    margin-bottom: 70px;
}


/* Footer */
.footer {
    background-color: #00403D;
    color: white;
    text-align: center;
    padding: 50px;
}

.footer-logo img {
    width: 120px;
    margin: 30px auto;
}

.footer-bottom p {
    font-size: 14px;
}
